*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color:white;
}
#app{
  
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}
#perfil{
    position: absolute;
    margin-top: -200px;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
p{
    font-size: 20px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace
}
#foto{
    border-radius: 50%;
}
#datos{
    margin-top: 50px;
    text-align: center;
}
video{
    z-index: -5;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  #cargando {
  
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  @-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
